.shortener {
  width: 100%;
  height: 70vh;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.shortener h3 {
  margin-top: 30px;
  margin-bottom: 10px;
}

.shortener > p {
  color: cadetblue;
  cursor: copy;
}

.shortener > p:hover {
  opacity: 0.5;
}

.shortener > div {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.shortener > div {
  width: 50%;
}

@media screen and (max-width: 510px) {
  .shortener div > h3 {
    font-size: 14px;
  }

  .shortener div > p {
    font-size: 11px;
  }
}
